{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <h1 class="bd-title" id="content">About</h1>
            <p class="bd-lead">A teammember dont know what his doing while cant help with math and hass</p>
            <h2 id="team">
                <div>Team<a class="anchorjs-link " href="#team" aria-label="Anchor" data-anchorjs-icon="#"
                        style="padding-left: 0.375em;"></a></div>
            </h2>
            <p>Chia Tang Ee Song Cawrence Daniel JunJie</p>

            <h2 id="history">
                <div>History<a class="anchorjs-link " href="#history" aria-label="Anchor" data-anchorjs-icon="#"
                        style="padding-left: 0.375em;"></a></div>
            </h2>

            <p>Copy from online website and bootstrap template</p>

            <p>Im stupid</p>

            <p>Test <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link</a></p>

            <p>Hi</p>

            <h2 id="get-involved">
                <div>Get involved<a class="anchorjs-link " href="#get-involved" aria-label="Anchor"
                        data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
            </h2>

            <p>Get involved with Bootstrap development by <a href="https://github.com/twbs/bootstrap/issues/new">opening
                    an issue</a> or submitting a pull request. Read our <a
                    href="https://github.com/twbs/bootstrap/blob/v4.1.3/.github/CONTRIBUTING.md">contributing
                    guidelines</a> for information on how we develop.</p>

        </main>
    </div>
</div>
{% endblock %}