{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<html lang="en">

<head>
</head>

<body>
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

      <div class="container">

        <h1 class="display-3">Overview</h1>

        <p>This Webapp explores predicting food security using *Multiple Linear Regression*. 

          <p><a class="btn btn-primary btn-lg" href="https://sutdapac-my.sharepoint.com/personal/eesong_loh_mymail_sutd_edu_sg/_layouts/15/onedrive.aspx?ga=1&id=%2Fpersonal%2Feesong%5Floh%5Fmymail%5Fsutd%5Fedu%5Fsg%2FDocuments%2FShared%2FTerm%203%202D%2F02%20DDW%202D%2FCode%2Fddw%5FV2%2Eipynb&parent=%2Fpersonal%2Feesong%5Floh%5Fmymail%5Fsutd%5Fedu%5Fsg%2FDocuments%2FShared%2FTerm%203%202D%2F02%20DDW%202D%2FCode" role="button">Learn more »</a></p>
      </div>
    </div>
    <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Sub-Saharan African<span class="text-muted"></span>
          </h2>
          <p class="lead">The region we have chosen the Sub-Saharan African region as that region has the world's highest rate of malnutrition. It also has one of the world's highest poverty rates. This shows that this area faces high risk of food insecurity. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid " data-src="holder.js/500x500/auto" alt="500x500"
           
            src="{{ url_for('static',filename='images/Sub-Saharan African.png')}}"
            data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">NGO</h2>
          <p class="lead">This Webapp is meant to be used by a Humanitarian Food Aid NGO. Since the model is trained with data from 10 Sub-Saharan countries, it would work best for that region. Using metrics that would reflect the factors affecting food insecurity, we hope to predict where to send food to as a Humanitarian Food Aid NGO.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
           
            src="{{ url_for('static',filename='images/NGO.png')}}"
            data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Food Security. <span class="text-muted">Affordability. Availability.</span></h2>
          <p class="lead">Using similar metrics to the <a href="https://impact.economist.com/sustainability/project/food-security-index/">Econonmist</a>, we chose to predict food affordability and availability as we feel that would be highly reflective of the food security situation in those countries. Ultimately, we wish to alleviate the food security issues in those countries, even if it is in the short run. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
          
            src="{{ url_for('static',filename='images/food-security.jpg')}}"
            data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>© 2D <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </main>
</body>

</html>{% endblock %}