{% extends "base.html" %}

{% block title %}Upload{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <title>Uploading & Reading CSV file</title>
</head>

<body>
  <main role="main" class="col-md-9 mx-auto col-lg-10 pt-3 px-4">
    <h2>Section title</h2>
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <div class="custom-file">
          <p style="color:green;">Upload success</p>
          <form action="/excel" target="_blank">
            <input class="btn btn-secondary btn-lg active" type="submit" value="Show Prediction" />
          </form>
          <p></p>
          <form action="/input" target="_blank">
            <input class="btn btn-secondary btn-lg active" type="submit" href="/graph" value="Back to Upload" />
          </form>
        </div>
      </div>
    </div>


  </main>
</body>

</html>
{% endblock %}